/*PARAMETRI FONDAMENTALI*/
* {
    margin: 5;
    padding: 0;
    box-sizing: border-box;
}




.header {
    border: 2px solid black;
    width: 100%;
    height: 255px;
    display: flex;
}

.info {
    border: 2px solid black;
    margin-left: 20px;
}

.info li {
    list-style-type: none;
}

img {
    width: 250px;
    height: 250px;
}

.container {
}




/*RESEARCH*/
.research h1 {
    text-align: center;
}
.research {
    border: 4px solid black;
    border-radius: 30px;
    width: 100%;
    height: 100px;
    margin-top: 50px;
}

.research:hover {
    color: red;
    margin-bottom: 1120px;
}

.research:hover .research-testo {
    transition: .5s;
    visibility: visible;
}

.research-testo {
    border: 2px solid red;
    width: 100%;
    visibility: hidden;
    color: black;
}





/*ATTIVITA*/
.attività {
    border: 4px solid black;
    border-radius: 30px;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    text-align: center;
}


.attività-testo {
    border: 2px solid red;
    width: 100%;
    visibility: hidden;

}

.attività:hover {
    color: red;
    margin-bottom: 1440px;
}

.attività:hover .attività-testo {
    transition: .5s;
    visibility: visible;
    color: black;
}

.aa {
    border: 2px solid blue;
    height: 80px;
}

.aa:hover {
    color: red;
    margin-bottom: 280px;
}

.aa:hover .testo {
    visibility: visible;
}

.testo {
    border: 2px solid green;
    visibility: hidden;
}






/*TESITIROCINIO*/
.tesitirocinio {
    border: 4px solid black;
    border-radius: 30px;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    text-align: center;
}

.tesitirocinio-testo {
    border: 2px solid black;
    width: 100%;
    visibility: hidden;

}

.tesitirocinio:hover {
    color: red;
    margin-bottom: 500px;
}

.tesitirocinio:hover .tesitirocinio-testo {
    transition: .5s;
    visibility: visible;
    color: black;

}
