/*PARAMETRI FONDAMENTALI*/
* {
    margin: 5;
    padding: 0;
    box-sizing: border-box;
}


body {
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: lightsteelblue;
}

.link {
    color: lightslategrey;
    font-weight: bold;
}

._ {
    text-decoration: underline;
}


.header {
    /*border: 2px solid blue;*/
    width: 100%;
    display: flex;
    line-height: 0px;
}

#nome {
    font-size: 50px;
}

.info {
    /*border: 2px solid black;*/
    margin-left: 20px;
}

.info li {
    list-style-type: none;
}

ul {
    /*border: 2px solid blue;*/
    line-height: 40px;
    padding-bottom: 20px;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 30px;
    margin-top: 55px;
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
    margin: 0px;
}


.dati {
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    background-color: lightsteelblue;
    padding: 7px;
    margin-right: 10px;
}




/*RESEARCH*/

.details-content {
    padding-bottom: 50px;
}

#research {
    border: 4px solid black;
    border-radius: 30px;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    list-style: none;
    cursor: pointer;
}


#research:hover {
    color: white;
    background-color: black;
}

.titoli {
    text-align: center;
    background-color: lightsteelblue;

}

.main {
    font-weight: bold;
    list-style: none;
}

.titoletti {
    padding-top: 15px;
}

.text {
    color: lightslategray;
    margin-left: 20px;
    padding-bottom: 15px;
}

.text2 {
    margin-left: 20px;
    list-style: none;
}

#research-testo {
    width: 100%;
    color: black;
    padding-left: 100px;
}





/*ATTIVITA*/
#attività {
    border: 4px solid black;
    border-radius: 30px;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    list-style: none;
    cursor: pointer;
}

#attività-testo {
    width: 100%;
    padding-left: 100px;
    color: black;
}

.corso {
    font-weight: bold;
    padding-top: 10px;
    text-transform: uppercase;
}

#attività:hover {
    color: white;
    background-color: black;
}

.AA {
    cursor: pointer;
    padding-bottom: 10px;
    font-size: 18px;
}

.AA:hover {
    color: lightsteelblue;
    font-weight: bold;
    font-size: 20px;
}




/*TESITIROCINIO*/
#tesitirocinio {
    border: 4px solid black;
    border-radius: 30px;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    list-style: none;
    cursor: pointer;
}

#tesitirocinio-testo {
    color: black;
    width: 100%;
}

#tesitirocinio:hover {
    color: white;
    background-color: black;
}

.progetto {
    list-style: none;
    font-weight: bold;
    padding-top: 10px;
    text-transform: uppercase;
}


